<h1>Users</h1>
<% if is_admin? %>
	<%= link_to 'New User', new_user_url%>
<% end %>
<table>
	<tr>
		<th>Username</th>
		<th>Email</th>
		<th></th>
	<tr>
<% @users.each do |u| %>
	<tr>
		<td><%= u.username %></td>
		<td><%= u.email %></td>
		<% if is_admin? %>
			<td><%= link_to 'Edit', edit_user_url(u) %></td>
		<% end %>
	</tr>
<% end %>
</table>